<div class="container profilePage">
    <div class="profilePage_user">
        <div class="profilePage_user_image">
            <%= image_tag "default-avatar.png" %>
        </div>
        <div class="profilePage_user_basicInfo">
            <div class="profilePage_user_name">
                <div class="profilePage_user_displayName">
                <%= @user.display_name %>
                (<%= (@user.age || '？歳') %>
                ・
                <%= I18n.t("enum.genders.#{@user.gender || 'unknown'}") %>)
                </div>
                <div class="profilePage_user_actionButton">
                    <% if @user == current_user %>
                        <%= link_to 'Edit', edit_profile_path %>
                    <% end %>
                </div>
            </div>
            <div class="profilePage_user_introduction">
                <%= @user.profile&.introduction %>
            </div>
        </div>
    </div>
</div>