Task Show
<div class="board">
    <% if @task.eyecatch.attached? %>
        <div class="card_image">
            <%= image_tag @task.eyecatch %>
        </div>
    <% end %>
    <h1 class="board_title"><%= @task.title %></h1>
    <div class="board_detail">
        <%= image_tag @task.user.avatar_image %>
        <% if user_signed_in? && current_user.tasks.exists?(@task.id) %>
            <div class="board_detail_action">
                <div class="dropdown">
                    <%= image_tag "actions.svg", class: 'dropbtn' %>
                    <div class="dropdown-content mini">
                        <%= link_to 'Edit', edit_board_task_path(@task) %>
                        <%= link_to 'Delete', board_task_path(@task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="board_content">
        <%= @task.content %>
    </div>
</div>

<div class="board">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
        <div class="board_comment">
            <div class="board_detail">
                <% if comment.user.avatar_image.attached? %>
                    <%= image_tag comment.user.avatar_image, class: 'comment-img' %>
                <% else %>
                    <%= image_tag 'default-avatar.png' %>
                <% end %>
                <p><%= comment.content %></p>
            </div>
        </div>
    <% end %>
</div>

<div class="container">
    <%= link_to new_board_task_comment_path(@task.board_id, @task.id) do %>
        <div class="card card_new_board" >+ Add new Comment</div>
    <% end %>
</div>