<div class="container">
    <ul>
        <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
    <%= form_with model: board, local: true do |f| %>
        <div>
            <%= f.label :title, 'Name' %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :content, 'Description' %>
            <%= f.text_area :content %>
        </div>
        <div>
            <%= f.submit 'Submit' %>
        </div>
    <% end %>
</div>