<div class="board">
    <h1 class="board_title"><%= @board.title %></h1>
    <div class="board_detail">
        <%= image_tag @board.user.avatar_image %>
        <% if user_signed_in? && current_user.boards.exists?(@board.id) %>
            <div class="board_detail_action">
                <div class="dropdown">
                    <%= image_tag "actions.svg", class: 'dropbtn' %>
                    <div class="dropdown-content mini">
                        <%= link_to 'Edit', edit_board_path(@board) %>
                        <%= link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="board_content">
        <%= @board.content %>
    </div>
</div>

<h2>Tasks</h2>
<% @tasks.each do |task| %>
    <div class="board">
        <%= render 'task', task: task %>
    </div>
<%end%>

<div class="container">
    <%= link_to new_board_task_path(@board) do %>
        <div class="card card_new_board" >+ Add new task</div>
    <% end %>
</div>