<!DOCTYPE html>
<html>
  <head>
    <title>TTodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header class="header" >
      <div class="header_logos">
        <p class="header_pageTitle">Boards</p>
      </div>
      <div class="dropdown">
        <div class="dropdown-content">
          <%= link_to 'ユーザ登録', new_user_registration_path %>
          <%= link_to 'ログイン', user_session_path, data: { method: 'post'} %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete'} %>
        </div>
      </div> 
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
